<div class="row justify-content-end">
    <div class="col-lg-3 text-right">
        <select class="form-control btn-sm" id="exampleFormControlSelect1" (change)="ShowSelected($event)">
            <option value="1">Con atención</option>
            <option value="2">Sin atención</option>
        </select>
    </div>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>Descripcion</th>
                                <th>Area</th>
                                <th>Atendido por</th>
                                <th>Fecha</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let alerta of listAlerta">
                                <td>{{alerta.personal}}</td>
                                <td>{{alerta.descripcion}}</td>
                                <td>{{alerta.area.title}}</td>
                                <td *ngIf="alerta.userId !== null">{{alerta.user.name}} {{alerta.user.lastname}}</td>
                                <td *ngIf="alerta.userId === null">Sin atencion</td>
                                <td>{{alerta.createdAt.substr(0,10)}}</td>
                                <td *ngIf="alerta.status === 1"><a class=""><i
                                            class="fas fa-eye text-primary"></i></a></td>
                                <td *ngIf="alerta.status === 0"><a class=""><i
                                    class="fas fa-eye-slash text-primary"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
